<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.qqw.agentd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/var/jb/usr/local/bin/agentd</string>
		<string>/var/mobile/Library/QQwAgent/agent.json</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamMemoryLimit</key>
		<integer>128</integer>
		<key>JetsamPriority</key>
		<integer>10</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/var/mobile/Library/QQwAgent/agent.log</string>
	<key>StandardErrorPath</key>
	<string>/var/mobile/Library/QQwAgent/agent.err.log</string>
</dict>
</plist>
